- extend 'layout.haml'

.pure-g.m30
    .pure-u-1.pure-u-lg-1-5
        .pure-g.m20{style: "margin-top: 6em;"}
            /.m20{style: "margin-top: 6em;"}
            .pure-u-1
                %h3 Versions
                - for v in versions
                    - if v == "dev"
                        - if v == version
                            %b Development
                        - else
                            %a{href: "{{=url('.home', v)}}"} Development
                    - else
                        - if v == version
                            %b
                                = v+".x"
                        - else
                            %a{href: "{{=url('.home', v)}}"}
                                = v+".x"
                    %br
        .pure-g.m20
            .pure-u-1
                %h3 Search
            .pure-u-1
                %input#doc-search{type: 'text'}
    .pure-u-1.pure-u-lg-3-5
        %h1 Welcome to weppy
        %p
            The documentation is divided into different parts. We reccomend that you read the 'Getting Started' chapter to have a good introduction to the framework. Besides this
            %em quick start
            there's also a more detailed tutorial that shows how to create a small but complete application with weppy.
        %p After these introductive parts the documentation dive into more specific aspects of weppy.
        %ul
            - for page in tree
                %li.tree-chapter
                    %a{href: "{{=page[1]}}"}
                        = page[0]
                %ul
                    - for sub in page[2]
                        %li.tree-section
                            %a{href: "{{=sub[1]}}"}
                                = sub[0]
    .pure-u-1.pure-u-lg-1-5

:javascript
    docsearch({
        apiKey: 'f103df55ddb5fbf6608014ef650f7967',
        indexName: 'weppy',
        inputSelector: '#doc-search',
        algoliaOptions: {
            hitsPerPage: 10,
            facetFilters: '(version:{{=version}})'
        }
    });
