- extend 'layout.haml'

:css
    h2 {
        margin-top: 0;
        padding-top: 2em;
    }

.pure-g.m30
    .pure-u-1.pure-u-lg-4-5
        = body
    .pure-u-1.pure-u-lg-1-5
        .page-sections
            %ul
                - for sub in sections
                    %li.tree-section
                        %a{href: "{{='#'+sub[1]}}"}
                            = sub[0]
