- extend 'layout.haml'

:css
    h2 {
        margin-top: 0;
        padding-top: 2em;
    }
    footer {
        margin-bottom: 32px;
    }
    .codehilite code, .codehilite pre {
        background-color: rgba(0, 0, 0, 0);
    }
    pre code {
        background-color: rgba(0, 0, 0, 0);
    }

.pure-g.m30
    .pure-u-1.pure-u-lg-4-5
        = body
    .pure-u-1.pure-u-lg-1-5
        .page-sections
            %ul
                - for sub in sections
                    %li.tree-section
                        %a{href: "{{='#'+sub[1]}}"}
                            = sub[0]

.navigator
    .navigator-left
        - if prev
            - u = url('.page', [prev[3], prev[1]]) if not prev[2] else url('.page', [prev[3], prev[2], prev[1]])
            %a{href: "{{=u}}"}
                = "< "+prev[0]
    .navigator-right
        - if after
            - u = url('.page', [after[3], after[1]]) if not after[2] else url('.page', [after[3], after[2], after[1]])
            %a{href: "{{=u}}"}
                = after[0]+" >"
