.pure-g{style: "background: #f7f7f7"}
    .pure-u-1
        .pure-g.m30
            .maxw
                .pure-u-1.pure-u-md-1-2
                    .pure-g.m4p
                        .pure-u-1
                            .title-small
                                A beautiful orm
                            %h2.title
                                Relations in a breeze
                        .pure-u-1
                            %p.home-p
                                Writing models and
                                %a.big{href: "{{=url('docs.page', ['latest', 'dal', 'relations'])}}"}
                                    relations
                                in weppy is fast and concise.
                            %p.home-p
                                Defining the entities involved in your application shouldn't be a pain.
                                %br
                                weppy ORM apis are designed to avoid you the hassle of writing cryptic code and
                                to be perfectly readable even for databases
                                %em amateurs.
                            %p.home-p
                                Enjoy the elegance of your models and use your time to improve your product.
                .pure-u-1.pure-u-md-1-2
                    .pure-g.m4p
                        .pure-u-1
                            .browser-window
                                .top-bar
                                    .circles
                                        .circle
                                        .circle
                                        .circle
                                .window-content
                                    %pre
                                        %code{language: 'python'}
                                            = code_blocks['orm_relations']
