.pure-g.m30
    .maxw
        .pure-u-1.pure-u-md-1-2
            .pure-g.m4p
                .pure-u-1
                    .browser-window
                        .top-bar
                            .circles
                                .circle
                                .circle
                                .circle
                        .window-content
                            %pre
                                %code{language: 'python'}
                                    = code_blocks['orm_aggregation']
        .pure-u-1.pure-u-md-1-2
            .pure-g.m4p
                .pure-u-1
                    .title-small
                        A powerful query interface
                    %h2.title
                        Aggregation made easy
                .pure-u-1
                    %p.home-p
                        Just forget underscore variables and raw sql strings.
                    %p.home-p
                        weppy comes with a powerful
                        %a.big{href: "{{=url('docs.page', ['latest', 'dal', 'operations'])+'#making-queries'}}"}
                            query interface
                        that lets you aggregate your data using just the Python language.
                    %p.home-p
                        Need to count events happening in the same location for a specific year? weppy lets you do that in just some few elegant lines.
