.pure-g.m30
    .pure-u-1.pure-u-md-1-2
        .pure-g.m4p
            .pure-u-1
                .browser-window
                    .top-bar
                        .circles
                            .circle
                            .circle
                            .circle
                    .window-content
                        %pre
                            %code{language: 'python'}
                                :plain
                                    from weppy import request
                                    from weppy.tools import service
                                    from myapp import app, Todo

                                    @app.route()
                                    @service.json
                                    def todos():
                                        page = request.params.page or 1
                                        return {
                                            'todos': Todo.all().select(
                                                paginate=(page, 20)
                                            )
                                        }
    .pure-u-1.pure-u-md-1-2
        .pure-g.m4p
            .pure-u-1
                .title-small
                    Write elegant code
                %h2.title
                    Focus on your product
            .pure-u.1.home-p
                You should spend more time on your product rather than the underlying framework.
                weppy is
                %em the framework for humans
                because is designed to simplify your development process,
                with a syntax made to be simple, easy to learn and understand.
                %br
                %br
                Don't waste your time between routers and uncomfortable patterns:
                every time you write down a route for your application,
                everything is just clearly stated in front of your eyes.
