!!! 5
%html{lang: "{{=current.request.language or 'en'}}"}
    %head
        %title {{=current.response.meta.title or "weppy - the web framework for humans"}}
        %meta{name: "viewport", content:"width=device-width, initial-scale=1"}

        - include_meta

        - include_helpers

        %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic", rel: "stylesheet", type:"text/css"}
        %link{href: "http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700", rel: "stylesheet", type:"text/css"}
        - include_static 'pure-min.css'
        - include_static 'grids-responsive-min.css'
        - include_static 'main.css'
        - include_static 'highlight.css'
        - include_static 'highlight.pack.js'
        - include_static 'error.css'

        - block head
        - end

    %body{style: 'background: url("{{=url("static", "e500.gif")}}"); background-size: cover;'}
        .pure-g{style: 'margin-top: 250px;'}
            .pure-u-1.pure-u-md-1-3
            .pure-u-1.pure-u-md-1-3.error
                .logo
                    %img{src: "{{=url('static', 'logo.png')}}", height: 80}
                %h1
                    Whooops! Something didn't work.
                We are sorry about that. A high qualified team of softy pandas has been dispatched to deal with this problem. In the meantime, please go back to the
                %a{href: "{{=url('main.index')}}"}
                    home page.
            .pure-u-1.pure-u-md-1-3

        - include 'analytics.haml'
